/* COMENTARIO - SHIFT + ALT = A */
/* CLASSE = .XXXX
    ID = #XXXXXXX */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: red;
}

body{
    background-color: rgb(0, 0, 0);
}

a { /* icones */
    color: whitesmoke;
    text-decoration: none;
}

ul{ /* listas não ordenadas */
    list-style: none;
}

html[data-theme='dark'] .logo {
    filter: invert(1);
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
}

.logo { /* LOGO */
    width: 350px; /* largura */
    height: auto; /* altura */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
}

/* menu desktop */
.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-item {
    width: 100%;
}

.menu-link{
    display: flex;
    text-transform: uppercase;
}


/* icone e texto têm as mesmas propriedades */
#toggleTheme {
    color: whitesmoke; /* cor de texto */
    font-size: 20px;
    cursor: pointer;
    transition: all .6s ease-in-out;

}

