/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

/* Definir cores tema dark */
:root,
:root[data-theme="dark"] {
  --fundo-header: #750489;
  --h1: #ffed00;
  --background-color: #750489;
  --color: #ffed00;
  --color-header:#ffed00;
  --color-link: #ffed00;
  --color-text:#ffed00;
  --color-btn:#ffed00;
  --color-shadow: #460252;
  --color-list: #ffed00;
}

/* definir cores tema Light */
:root[data-theme="light"] {
  --fundo-header: #ffed00;
  --h1: #750489;
  --background-color:#ffed00;
  --color:#750489;
  --color-header: #750489;
  --color-link: #750489;
  --color-text: #750489;
  --color-btn: #750489;
  --color-shadow: #ecdd0b;
  --color-list:#750489;
}

/* 
Root Font
.sora-<uniquifier> {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*/


/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*  */
    scrollbar-width: thin;/* muda o tamanho da barra de rolagem */
    scrollbar-color: var(--color);/* muda cor da barra de rolagem  */
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

/*links*/
a {
    color: var(--color-link);
    text-decoration: none;/* tirar sublinhado dos links */

}

/*listas*/
ul {
    list-style: none;/* remover pontinhos de listas */
}

/* Manipulação da cor do Logo (invert) */
html[data-theme='dark'] .logo {
    filter: invert(1);
}

h1 {
    color: var(--h1);
    font-size: 40px;
    font-weight: 200;
    font-family: "Sora", sans-serif;
    letter-spacing: 3px;
}

h2{
    color: var(--color-text);
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

h3{
    color: var(--color-text);
    font-size: 25px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}


p,
li,
span{
    font-size:12px;
    }

p{
    font-family: "Poppins", sans-serif;
    text-align: justify;
}

strong{
    font-weight: 800;
    color: var(--h1);
}

#tagline{
    font-weight: 500;
    text-transform: uppercase;
}

/* Manipulação cabeçalho */
#header {
    display: flex; /* tela flexivel */
    flex-flow: row wrap; /* quebra de linha */
    justify-content: space-between; /* espaço por igual entre objetos (horizontal) */
    align-items: center; /* espaço por igual entre objetos (vertical) */
    width: 100%; /* ocupar a tela na verical */
    padding: 10px 20px;
}

/* Logo */
.logo {
    width: 150px; /* comprimento(horizontal) */
    height: auto; /* altura (vertical) */
}

/* Icone Cabeçalho (classe) */
.header-toggle {
    display: flex;
    justify-content: flex-end;/* pra q o icone fique no final da tela */
}

/* Icone Cabeçalho (ID) */
#toggleTheme {
    color: var(--color-header); /* cor de texto */
    font-size: 20px; /* tamanho da fonte */
    cursor: pointer; /* sinalizando q é um clique */
    transition: all 0.6s ease-in-out; /* transição entre modo dark e light */
}

/* menu desktop */
.menu {
    display: flex;
    align-items: center;
    gap: 25px; /*gap(vão) espaço entre campos dentro do campo pai */
}

.menu-item {
    width: 100%;
}

/* botões */
.menu-link {
    display: flex;
}

/* Personalização do texto (span dentro do <a>) */
.menu-texto{
    font-size: 12px; /* tamanho da fonte */
    text-transform: uppercase; /* todas as letras em caixa alta */
    font-family: "Sora", sans-serif; /* estilização de fonte */  
    font-weight: 300; /* espessura da letra (normalmente entre 100-900) */
}


.header-nav {
    display: none;/* faz o menu desktop sumir quando tela está menor que 768px */
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;      
}

.menu-mobile {
    bottom: 0;/* joga os botões para baixo */
    position: fixed;
    width: 100vw; /* VW = viewPort - Widith - visualização - largura */
    justify-content: space-between;
    border-top: 1px solid #989898;
    z-index: 1;
    background-color: black;
}

.menu-link.active .icone-link,
.menu-link.active .menu-texto,
.menu-link:hover .icone-link,
.menu-link:hover .menu-texto {
    color: var(--color-header);
    font-weight: 800;
}

.menu-icone,
.menu-texto {
    color: var(--color-text);
    font-weight: 200;
}

.icone-link {
    font-size: 25px;
}
/* Fim do CSS do Menu */

/* HOME / MAIN */

#home{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.video iframe{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: transparent;
    width: 100%;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
}

.btn-primary{
    border: 1px solid var(--color-btn);
}

.btn-primary:hover {
    border: 1px solid var(--bgd);
}

.btn span,
.btn i{
    color: var(--color-btn);
    font-size: 18px;
}

.btn:hover{
    transform: scale(1.02);
    transition: all ease-in-out .2s;
}

.btn:hover span, 
.btn:hover i {
  color: var(--color-btn); 
}

.icon-social {
  font-size: 20px;
  color: var(--color-btn);
}

.icon-social:hover{
  color: var(--color-btn);
}

/* Estrutura */
/* Projetos */
.projetos {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projeto-card{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card-img {
    width: 100%;
    pointer-events: none;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 5px 5px var(--color-shadow); /* eixo X eixo Y blur */
}

.card-description{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
}

.icon-list {
    color: var(--color-list) ;
    font-size: 10px;
}

.card-item {
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}


/* ATUALIZAÇÕES FUTURAS - A CADA SEÇÃO NOVA, INCLUIR NESTE CAMPO */
#home,
.projetos{
  padding: 40px 16px;
}



/* CSS Responsivo */

/* @media cria a possibilidade de criação de tela */
/* a partir telas 768px */
@media (min-width: 768px) {
    
  #header {
    background-color: var(--fundo-header);
    position:fixed;
    border-bottom: 1px solid #989898;
    padding: 16px 96px;
  }
  
  .header-nav {
        display: flex;
    }

    .header-nav,
    .header-toggle {
        min-width: 25%; /* largura minima do elemento (até 'x') */
    }

    .nav-mobile {
        display: none;
    }
    
    /* Atualização futura */ 
    #home,
    .projetos{
        padding: 128px 96px 64px 96px; /* 1° top 2°right 3°bottom 4°left */
    }

    .main-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
}

@media (min-width: 992px) {
    .projeto-card {
        flex-direction: row;
    }

    .card-img{
        width: 55%;
    }
}

/* 1200px */
@media (min-width: 1200px) {
  #home {
    padding: 160px 96px 32px;
  }
}

/* 1200px */
@media (min-width: 1200px) {

    #home{
        padding: 160px 96px 32px;  /* 1° top 2°right&left 3° bottom*/
    }

    h1{
        font-size: 85px;
    }

    h2{
        font-size: 65px;
    }

    p, span, li{
        font-size: 22px;
    }
}

/* 1400px */
@media (min-width: 1400px) {

    h1{
        font-size: 100px;
    }

    h2{
        font-size: 70px;
    }

    .projetos{
        padding: 160px 240px 64px;
    }
}